.section-title {
    padding-bottom: 40px;
}

.section-title p,
.section-title h1,
.section-title h2 {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--black);
}

.section-title h3,
.section-title h3.sub-title {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h3::after,
.section-title h3.sub-title::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #e5bb73;
    margin: 4px 10px;
}